.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
}
.items-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 120px;
}
.cart-container{
    background-color: orange;
    height: 100vh;
}
.order-summary{
    padding: 15px;
    
}